<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sekolah Islam Modern</title>
  <link rel="stylesheet" href="/static/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="container">
    <div class="logo">
        <img src="/static/img/Logo_MDT-removebg-preview.png" alt="Logo MDT Nurul Inayah" style="height: 60px;">
        <span>MDT Nurul Inayah</span>
      </div> 
  
       <!-- Hamburger icon -->
      <div class="menu-toggle" id="menu-toggle">&#9776;</div>
    <nav>
      <ul>
        <li><a href="index.html">Beranda</a></li>
        <li><a href="profil.html">Profil</a></li>
        <li><a href="program.html">Program</a></li>
        <li><a href="berita.html">Berita</a></li>
        <li><a href="galeri.html">Galeri</a></li>
        <li><a href="daftar.html" class="btn-daftar">Daftar</a></li>
      </ul>
    </nav>
  </header>

  <section class="berita">
    <h1> Berita Madrasah Diniyah Takmiliyah Nurul Inayah </h1>
  </section>

  

  <footer>
    <p>© 2025 MDT Nurul Inayah</p>
  </footer>

  <script src="/js/script.js"></script>
</body>
</html>